div .mapPointer {
  position: absolute;

  top: -50px;
  left: -40px;

  border: 2px solid white;
  background-color:#e15915;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: lighter;
  padding: 10px;
  line-height: 14px;
}

.mapPointerText {
  display: inline-block;
  vertical-align: middle;
}

.mapPointerText:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -13px;
    width: 0;
    height: 0;
    border-top: solid 13px #e15915;
    border-left: solid 13px transparent;
    border-right: solid 13px transparent;
}
