.FooterComponent {
  margin: auto;
  width: 900px;
  text-align: center;
}
.legal {
  margin: 10px;
  text-align: center;
  color: grey;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  margin: auto;
}


.sponsors img {
  text-align: center;
  padding: 5px;
}

.legal p {
  margin: 0px;
}

@media (max-width: 900px) {
  .FooterComponent {
    width: 90%;
    margin-top: 30px;
  }
  .FooterComponent h1 {
    font-size: 30px;
  }

  .sponsors {
    width: 100%;
  }

  .legal p {
    font-size: 11px;
  }
}
