.FooterComponent {
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;
  width: 900px;
}
.legal {
  margin: 10px;
  text-align: center;
  color: grey;
}

.sponsors {
  text-align: center;
}

.legal p {
  margin: 0px;
}
