.FooterComponent {
  margin: auto;
  margin-top: 70px;
  width: 900px;
}
.legal {
  margin: 10px;
  text-align: center;
  color: grey;
}

.sponsors {
  text-align: center;
}

.legal p {
  margin: 0px;
}

@media (max-width: 900px) {
  .FooterComponent {
    width: 90%;
    margin-top: 30px;
  }
  .FooterComponent h1 {
    font-size: 30px;
  }

  .legal p {
    font-size: 11px;
  }
}
