.pageContent {
  color: black;
  width: 700px;
  min-height: 300px;
  background-color: white;
  margin: auto;
  padding: 40px;
  text-align: left;
}

.center {
  width: 920px;
  margin: auto;
  text-align: center;
}

.pageGradient {
  background: -webkit-linear-gradient(left, rgb(241,88,47) , rgb(113,83,163));
  width: 100%;
  height: 100%;
  padding-top: 60px;
}
.page {
  width: 100%;
  height: 500px;
  background-position: bottom center;
  background-size: cover;
}

.pageMDContent {
  font-size: 18px;
  line-height:25px;
}

.multiContent {
  color: black;
  width: 350px;
  background-color: white;
  padding: 20px;
  margin: 30px;
  float:left;
  text-align:left;
}

.multiContent h1 {
  margin-top: 0;
}

.page-appear {
   opacity: 0.01;
}

.page-appear.page-appear-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}
